@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

/*Generic*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Body section*/

body {
    display: grid;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    height: 100vh;
    font-family: "Happy Monkey", cursive;
    font-weight: 300;
    background: rgb(153, 215, 75);
    background: linear-gradient( 90deg, rgba(153, 215, 75, 1) 0%, rgba(195, 228, 152, 1) 50%, rgba(153, 215, 75, 1) 100%);
}

.game-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
}